@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

* {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Allerta', sans-serif;
	color: #ffffff;
}


hr {
	height: 4px;
    background-color: #ffffff;
    border: none;
	border-radius: 5px;
}

body {
	background: #000000;
}

.main-content {
	padding-top: 30px;
	padding-bottom: 50px;
}

.post-block {
	background: #1c1b1b;
	padding: 25px;
	margin-bottom: 25px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
	transition: all 0.2s;
	width: 650px;
}

.post-image {
	border: 4px solid #ffffff;
}
.post-block img.author-img {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	border: 3px solid #ffffff;
}

.post-block img.author-img.author-img--small {
	height: 45px;
	width: 45px;
}
.post-block__content img,
.post-block__content video,
.post-block__content audio {
	max-width: 100%;
	border-radius: 5px;
	width: 600px;
	height: auto;
}
.post-block .comment-view-box__comment {
	border-radius: 5px;
	background: #1c1b1b;
	padding: 35px;
}

.form-control {
	background: #1c1b1b;
	border: 4px solid #ffffff;
	border-radius: 20px;
	color: #ffffff;
	margin-right:1px;
}

.form-control:focus{
	background: #1c1b1b;
	border: 4px solid #EC625F;
	color: #ffffff;
	box-shadow: none;
}

.input-group-append button {
	background-color:#ffffff;
	border: none;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}

.fa.fa-paper-plane {
	color: #1c1b1b;
	font-size: 20px;
	padding: 5px;
}

.likes i:hover{
	color: #EC625F;
	transition: 0.5s;
}

.likes i {
	transition: 0.5s;
}

.likes button{
	display: inline-block;
	background-color: transparent;
	border: transparent;
}

.form-control::placeholder {
	color: #ffffff;
	opacity: 0.8;
}

.profile-post {
	float:left;
	display: flex;
	justify-content: center;
	align-items: center;
  }


  .poster-info {
	width: auto;
	height: auto;
	justify-content: center;
	align-items: center;
	display: flex;
  }

  .poster-dot {
	opacity: 0.8;
  }

  .poster-time {
	opacity: 0.8;
  }


  .commenter-info {
	width: auto;
	height: auto;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 14px;
  }

  .comment {
	word-wrap: break-word;
  }

  .likes {
	font-size: 35px;
  }

.wrapper .sidebar{
	background: #1c1b1b;
	position: fixed;
	top: 0;
	left: 0;
	width: 245px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
	box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  
  .wrapper .sidebar .logo{
	margin-bottom: 30px;
	text-align: center;
  }
  
  .wrapper .sidebar .logo img{
	display: block;
	width: 120px;
    height: auto;
	margin: 0 auto;
  }

  .wrapper .sidebar .profile-account{
	margin-bottom: 30px;
	text-align: center;
  }
  
  .wrapper .sidebar .profile-account img{
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;
	border: 4px solid #ffffff;
  }
  
  .wrapper .sidebar .profile-account h3{
	margin: 10px 0 5px;
  }
  
  .wrapper .sidebar .profile-account p{
	font-size: 14px;
  }
  
  .wrapper .sidebar ul li a{
	display: block;
	padding: 13px 30px;
	color: rgb(241, 237, 237);
	font-size: 16px;
	position: relative;
	text-decoration: none;
	border: 1px solid transparent;
	transition: 0.3s;
  }
  
  .wrapper .sidebar ul li a .icon{
	color: #ffffff;
	width: 30px;
	display: inline-block;
  }

  .wrapper .sidebar ul li a:hover{
	color: #ffffff;
	border: solid 1px #EC625F;
	border-radius: 15px;
	background:#EC625F;
	transition: 0.5s;
  }

  .wrapper .sidebar button:hover{
	color: #ffffff;
	border: solid 1px #EC625F;
	border-radius: 15px;
	background:#EC625F;
	transition: 0.5s;
  }
  
  .wrapper .sidebar ul li a:hover:before{
	display: block;
  }

  .wrapper .sidebar button:hover:before{
	display: block;
  }
  
  .wrapper .section{
	width: calc(100% - 225px);
	margin-left: 225px;
	transition: all 0.5s ease;
  }