{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PostEmote Sign up</title>
    <link rel="stylesheet" href="{% static 'assets/sign-form.css' %}">
  </head>
  <body>
    <div class="signupForm">
      <form action="" method="POST" class="form">
          {% csrf_token %}
        <h1 class="title">Sign up</h1>

          <div class="errorMessage">
              {% for message in messages %}
              {{ message }}
              {% endfor %}
          </div>
  
        <div class="inputContainer">
            <label>
                <input name="email" type="email" class="input" placeholder="Email Address">
            </label>
        </div>
  
        <div class="inputContainer">
            <label>
                <input name="username" type="text" class="input" placeholder="Username">
            </label>
        </div>
  
        <div class="inputContainer">
            <label>
                <input name="password" type="password"  class="input" placeholder="Password">
            </label>
        </div>

        <div class="inputContainer">
          <input name="confirm-password" type="password" class="input" placeholder="Confirm Password">
        </div>
  
        <input type="submit" class="submitBtn"  value="Sign up">
      <br>
      <a href="{% url 'signin' %}"> Already have an account? sign in here.</a>
      </form>
    </div>
  </body>
</html>